## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import matplotlib.pyplot as plt

# Import API key
import sys
sys.path.append("..")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Banda Aceh,5.5577,95.3222,79.16,84,100,8.95,ID,2022-07-13 22:38:36,overcast clouds
1,1,Kaeo,-35.1000,173.7833,56.32,97,100,7.65,NZ,2022-07-13 22:36:38,light rain
2,2,Saskylakh,71.9167,114.0833,48.31,57,99,10.76,RU,2022-07-13 22:38:36,overcast clouds
3,3,Tasiilaq,65.6145,-37.6368,39.36,79,17,4.59,GL,2022-07-13 22:38:36,few clouds
4,4,Bluff,-46.6000,168.3333,43.81,77,97,10.22,NZ,2022-07-13 22:38:37,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Banda Aceh,5.5577,95.3222,79.16,84,100,8.95,ID,2022-07-13 22:38:36,overcast clouds
7,7,Hithadhoo,-0.6000,73.0833,83.03,73,92,13.58,MV,2022-07-13 22:38:38,overcast clouds
14,14,Alofi,-19.0595,-169.9187,80.49,69,39,17.27,NU,2022-07-13 22:38:40,scattered clouds
15,15,Vaini,-21.2000,-175.2000,80.76,78,75,13.80,TO,2022-07-13 22:38:40,broken clouds
16,16,Butaritari,3.0707,172.7902,82.58,78,59,15.93,KI,2022-07-13 22:38:40,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
542,542,Batticaloa,7.7102,81.6924,79.99,65,17,13.60,LK,2022-07-13 22:42:13,few clouds
546,546,Palauig,15.4350,119.9045,82.15,81,97,8.93,PH,2022-07-13 22:42:14,overcast clouds
552,552,Eureka,40.8021,-124.1637,80.67,73,28,4.00,US,2022-07-13 22:42:16,scattered clouds
554,554,Banjarmasin,-3.3244,114.5910,75.34,98,99,4.43,ID,2022-07-13 22:42:17,overcast clouds
557,557,Santo Tomas,14.1079,121.1414,81.48,91,100,2.51,PH,2022-07-13 22:42:19,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Date                   0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Banda Aceh,5.5577,95.3222,79.16,84,100,8.95,ID,2022-07-13 22:38:36,overcast clouds
7,7,Hithadhoo,-0.6000,73.0833,83.03,73,92,13.58,MV,2022-07-13 22:38:38,overcast clouds
14,14,Alofi,-19.0595,-169.9187,80.49,69,39,17.27,NU,2022-07-13 22:38:40,scattered clouds
15,15,Vaini,-21.2000,-175.2000,80.76,78,75,13.80,TO,2022-07-13 22:38:40,broken clouds
16,16,Butaritari,3.0707,172.7902,82.58,78,59,15.93,KI,2022-07-13 22:38:40,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
542,542,Batticaloa,7.7102,81.6924,79.99,65,17,13.60,LK,2022-07-13 22:42:13,few clouds
546,546,Palauig,15.4350,119.9045,82.15,81,97,8.93,PH,2022-07-13 22:42:14,overcast clouds
552,552,Eureka,40.8021,-124.1637,80.67,73,28,4.00,US,2022-07-13 22:42:16,scattered clouds
554,554,Banjarmasin,-3.3244,114.5910,75.34,98,99,4.43,ID,2022-07-13 22:42:17,overcast clouds
557,557,Santo Tomas,14.1079,121.1414,81.48,91,100,2.51,PH,2022-07-13 22:42:19,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Banda Aceh,ID,79.16,overcast clouds,5.5577,95.3222,
7,Hithadhoo,MV,83.03,overcast clouds,-0.6000,73.0833,
14,Alofi,NU,80.49,scattered clouds,-19.0595,-169.9187,
15,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
16,Butaritari,KI,82.58,broken clouds,3.0707,172.7902,
26,Umm Lajj,SA,83.86,overcast clouds,25.0213,37.2685,
36,Sao Raimundo Das Mangabeiras,BR,81.66,few clouds,-7.0219,-45.4811,
39,Korla,CN,75.51,overcast clouds,41.7597,86.1469,
49,Sinjhoro,PK,84.27,clear sky,26.0303,68.8090,
54,Pervomayskoye,RU,75.99,clear sky,43.9190,46.7102,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"   
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    
    try:
        hotels = requests.get(base_url, params=params).json()
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
change = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = change.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Banda Aceh,ID,79.16,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
7,Hithadhoo,MV,83.03,overcast clouds,-0.6000,73.0833,Scoop Guest House
14,Alofi,NU,80.49,scattered clouds,-19.0595,-169.9187,Taloa Heights
15,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Butaritari,KI,82.58,broken clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
542,Batticaloa,LK,79.99,few clouds,7.7102,81.6924,Grand Star Guest House
546,Palauig,PH,82.15,overcast clouds,15.4350,119.9045,Villa Raphael Resort
552,Eureka,US,80.67,scattered clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
554,Banjarmasin,ID,75.34,overcast clouds,-3.3244,114.5910,Swiss-Belhotel Borneo Banjarmasin
557,Santo Tomas,PH,81.48,overcast clouds,14.1079,121.1414,Microtel by Wyndham Batangas

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))